@charset "UTF-8";

    	.header__ul {
    		margin-top : 20px;
    	}
    	
		.header__right {
			margin-top: 20px;
		}
		
		
		.header__right b a {
			font-size : 14px;
		}
		
		.header__menu ul li .dropdown {

			background: #EAEAEA;
	  	}  	
	  
	  
	  .header__menu ul li:hover a {
		color: black;
	}
	
	.header__menu ul li a {
		color: black;
		font-size: 18px;
	}
	
	.header__menu ul li:active a {
		color : #00005D;
	}
	
	.dropdown li:hover{
		background: #5D5D5D;
	}
	
	#drop:hover {
		color: #ffffff;
	}
	
	body {
		background-color: white;
	}
